<div class="row content">
  <div class="col-12">
    <div class="profile-text">
      <h3 class="profile-title">Name: {{ club.name }}</h3>
    </div>
  </div>
</div>
<div class="row content">
  <div class="col-12">
    <p class="profile-description">Description: {{ club.description }}</p>
  </div>
</div>
<div class="row content">
  <div class="col-12">
    <p class="profile-owner">Owner: {{ club.owner }}</p>
  </div>
</div>
<div class="row content">
  <div class="col-12">
    <p class="profile-location">Location: {{ club.location }}</p>
  </div>
</div>
<div class="row content">
  <div class="col-12">
    <p class="profile-mission">Mission: {{ club.mission_statement }}</p>
  </div>
</div>
